---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
<!-- <section class="page__content" itemprop="text" style="font-size:$type-size-6"> -->
    <p>
        I'm Dan Fiorino, a PhD astrophysicist, data analyst, and programmer.
        I'm driven by solving problems that drive value for people.
        <br>
        <br>
        I'm currently in the healthcare space with 
        <a href="http://www.nowpow.com">NowPow</a>, leading the 
        cause to supply the under-informed with self-care resources
        through our tech platform to improve health community outcomes. 
        <br>
        <br>
        My previous life was as an 
        <a href="/astrophysics/">astrophysicist researcher</a>
        for the HAWC Observatory.
        <br>
        <br>
        I have years of experience coding in Python and C/C++. 
        <br>
        <br>
        In my free time I play as much ultimate frisbee as body allows.
        I've used that passion to launch my career in data science through
        <a href="/sports-analytics/">sports analytics.</a>
        <br>
        <br>
        Besides that, I love laughing with friend and traveling. 
        Check out where my travels have led me! 
    </p>

<p><iframe style="border: 1px solid #ccc" width="100%" height="400"
src="/map-notebook/where-in-the-world.html?inline=true"></iframe></p>

</section>
<br />
:w

<!-- <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}-->
