---
layout: archive
toc: true
toc_label: "About Me"
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
<!--<section class="page__content" itemprop="text" style="font-size:$type-size-6"> -->

    <p>
        I'm a PhD astrophysicist, data analyst, and programmer who's 
        driven by solving problems that drive value for people.
        <br>
        <br>
        Currently, I'm employed in healthcare tech with 
        <a href="http://www.nowpow.com">NowPow</a>, leading the 
        cause to supply the under-informed with self-care resources.
        <br>
        <br>
        My previous life was as an 
        <a href="/astrophysics/">astrophysicist researcher</a>
        for the HAWC Observatory.
        <br>
        <br>
        I have years of experience coding in Python and C/C++. 
        <br>
        <br>
        I play as much ultimate frisbee as body allows. This led me
        to launch a <a href="/sports-analytics/">sports analytics</a>
        account.
        <br>
        <br>
        Besides that, I love laughing with friend and traveling. 
    </p>

<h1>Travel map</h1>
<section class="page__content" itemprop="text">

Click around on my travel map to see where I've been and why I was there!

<p><iframe style="border: 1px solid #ccc" width="100%" height="400"
src="/map-notebook/travels.html?inline=true"></iframe></p>
</section>
<br />

<!-- <h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}-->
