---
layout: archive
---

<h1>About me</h1>
<section class="page__content" itemprop="text">
<!-- <section class="page__content" itemprop="text" style="font-size:$type-size-6"> -->
    <p>
        I'm Dan Fiorino, a physics Ph.D., data analyst, and programmer.
        I'm currently in the healthcare space with NowPow, leading the 
        cause to supply the under-informed with self-care resources
        through our tech platform to improve health community outcomes. 
        I have years of experience coding in Python and C/C++. 
        I enjoy solving problems that drive value for people.

    </p>
    <p>
        In my free time I play as much ultimate frisbee as body allows and
laugh with friends as often as possible!
    </p>
</section>
<br />

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h2>


{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
